<table class="infobox cografya">
    <tr>
      <th colspan="3" class=ib-above-h>
        {{page.title}}
      </th>
    </tr>
    <tr>
      <td colspan="3" class="ib-country-date">{{page.country-date | default: ""}}</td>
    </tr>
    <tr>
      <td colspan="3" class="ib-img"><img src={{page.img | default: "" }} alt=""></td>
    </tr>
    <tr>
      <td colspan="3" class="ib-map"><img src="/assets/img/Royne_İmparatorluğu_politikal_haritası.png" alt=""></td>
    </tr>
    <tr>
        <th colspan="3" class=ib-mid-h>
          Genel bilgiler
        </th>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Diğer isim(ler)</th>
            <td class="ib-data">
                {% for alias in page.aliases %}
                <li>{{alias | default: ""}}</li>
                {% endfor %}
            </td>
        </td>
    </tr>
    <tr>
      <td>
        <th class="ib-d-label">Yaygın dil(ler)</th>
        <td class="ib-data">
            {% for lang in page.languages %}
            <li>{{lang | default: ""}}</li>
            {% endfor %}
        </td>
      </td>
    </tr>
    <tr>
      <td>
        <th class="ib-d-label">Nüfus</th>
        <td class="ib-data">{{page.popsize}}</td>
      </td>
    </tr>
    <tr>
        <th colspan="3" class=ib-mid-h>
          Coğrafya
        </th>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Tür</th>
          <td class="ib-data">{{page.type}}</td>
        </td>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Bölge</th>
          <td class="ib-data">{{page.region}}</td>
        </td>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Başkent</th>
          <td colspan="2" class="ib-data">{{page.cap}}</td>
        </td>
    </tr>
    <tr>
        <th colspan="3" class=ib-mid-h>
          Ticaret
        </th>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">İhracat</th>
          <td class="ib-data">
            {% for exp in page.export %}
            <li>{{exp | default: ""}}</li>
            {% endfor %}
          </td>
        </td>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Para birimi</th>
          <td colspan="2" class="ib-data">
            {% for c in page.curr %}
            <li>{{c | default: ""}}</li>
            {% endfor %}
          </td>
        </td>
    </tr>
  </table>