<table class="infobox cografya">
    <tr>
      <th colspan="3" class=ib-above-h>
        {{page.title}}
      </th>
    </tr>
    <tr>
      <td colspan="3" class="ib-country-date">1998-2020</td>
    </tr>
    <tr>
      <td colspan="3" class="ib-img"><img src="/assets/img/armoria.png" alt=""></td>
    </tr>
    <tr>
      <td colspan="3" class="ib-map"><img src="/assets/img/Royne_İmparatorluğu_politikal_haritası.png" alt=""></td>
    </tr>
    <tr>
        <th colspan="3" class=ib-mid-h>
          Genel bilgiler
        </th>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Diğer isim(ler)</th>
            <td class="ib-data no-border">
                <li>Entari</li>
                <li>Entari</li>
                <li>Entari</li>
            </td>
        </td>
    </tr>
    <tr>
      <td>
        <th class="ib-d-label">Yaygın dil(ler)</th>
        <td class="ib-data">Korokoro</td>
      </td>
    </tr>
    <tr>
      <td>
        <th class="ib-d-label">Nüfus</th>
        <td class="ib-data">2.234.211</td>
      </td>
    </tr>
    <tr>
        <th colspan="3" class=ib-mid-h>
          Coğrafya
        </th>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Tür</th>
          <td class="ib-data">Orman</td>
        </td>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Bölge</th>
          <td class="ib-data">Kuzey Zartzurt</td>
        </td>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Başkent</th>
          <td colspan="2" class="ib-data">Korokssoro</td>
        </td>
    </tr>
    <tr>
        <th colspan="3" class=ib-mid-h>
          Ticaret
        </th>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">İhracat</th>
          <td class="ib-data">Bok, kum, talaş</td>
        </td>
    </tr>
    <tr>
        <td>
          <th class="ib-d-label">Para birimi</th>
          <td colspan="2" class="ib-data">Monvalder</td>
        </td>
    </tr>
  </table>