<a class="showcase-card" href="">
    <div id="showcase-card-img">
        <img src="/assets/img/boynuzlar.jpg" alt="" />
    </div>
    <div id="showcase-desc-wrapper">
        <div id="showcase-desc-title">Ejderateşi</div>
        <div id="showcase-desc-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas  consequat velit vitae pharetra. Integer nec tellus sit amet orci  venenatis fringilla nec non nibh. Nullam molestie lorem magna, quis  venenatis nisi vestibulum non.</div>
        <div id="showcase-desc-footer">
            <div id="showcase-card-date">22/01/2025</div>
            <div id="showcase-card-category">Coğrafya</div>
        </div>
    </div>
</a>