<div id="showboard-title-board">
    <div id="title-board-img-wrapper">
        <img src="/assets/img/araf_cizimi.png" alt="Araf Çizimi" />
    </div>
    <div id="title-board-text-wrapper">
        <a id="title-board-t-title" href="">
        <div>Dalgalar çarpar sahil boyunca, kara güneş boğulur dağların ardında.<br/>Pelerini dalgalanır, şarkılar söylenir adına; sonsuz ışığının altında;<br/>Carcosa’da</div>
        </a>
        <div id="title-board-t-desc"> <b>Carcosa</b> (<b>okunuşu:</b> / kɑː͡ɹkˈo͡zə / karkosa), veya <b>Cehennem</b> olarak adlandırılır; şeytanların ve iblislerin; kötü periler ve ruhların anavatanıdır. Arkadya dinine göre kötülüğün beden bulmuş diyarı olmakla kalmayıp, günahların  ve gaddarlığın kalbidir. Oldukça katı bir kast sistemi cehennemin bütün  katlarında mevcuttur. Günah işlemiş, ancak vefat etmeden önce tövbe  etmiş olanlar ise cehennemde bulunmazlar. Cehennemde bulunanlar  günahlarını haklı bulanlar olmuşlardır.</div>
    </div>
</div>