<nav class="topbar-wrapper">
    <div id="l-logo-wrapper">
        <a href="/">
            <img src="/assets/img/logo_dark.png" alt="monvald logo" />
        </a>
    </div>
    <div id="c-links-wrapper">
        <ul class="topbar-links-ul">
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Büyü</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Canlılar</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="{% link coğrafya/0-coğrafya-portalı.md %}">Coğrafya</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Diller</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Irklar</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">İnançlar</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Kavramlar ve terimler</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Kozmoloji</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Kronoloji</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Nesneler</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Organizasyonlar</a>
            </li>
            <li class="topbar-links-li">
                <a class="topbar-link" href="">Sanat</a>
            </li>
        </ul>
    </div>
    <div id="r-tools-wrapper">
        <a id="search-button" href="">
            <div id="search-ico">
                <i class="fa-solid fa-magnifying-glass fa-xl"></i>
            </div>
        </a>
        <a id="map-button" href="">
            <div id="map-ico">
                <i class="fa-solid fa-earth-asia fa-rotate-90 fa-xl"></i>
            </div>
        </a>
        <a id="newpage-button" href="">
            <div id="newpage-b-ico">
                <i class="fa-solid fa-plus"></i>
            </div>
        </a>
    </div>
</nav>