@use 'styles.scss' as *;

#article-text {
    color: $fglcolor2;

    max-width: 760px;
    margin: auto;
    padding: 2rem;

    line-height: 1.55;
    font-size: 16.2px;
    font-style: normal;
    font-family: monospace;
    letter-spacing: -0.006em;

    p {
        margin: 10px 0;
    }
}

#article-text {

    a {
        text-decoration: none;
        color: #00e;
    }
    a:visited { color: #551a8b; }
    a:active { color: #ff0000; }
    a:hover {
        text-decoration: underline;
        color: #06e;
    }

    #page-title {
    
        font-family: $primary-font;
        font-size: $ahm;
        line-height: 1.5;
        letter-spacing: -0.52px;
        font-variation-settings: "opsz" 32;
        font-weight: bold;
        
        padding: 16px 0;
        margin-bottom: 16px;
    
        border-bottom: 1px solid $subtleborder;
    }
    
    h2 {
        font-size: $ah2;
        line-height: 1.5;
        letter-spacing: -0.52px;
        font-variation-settings: "opsz" 32;
        font-weight: bold;
        margin-top: 6px;
    }
    h3 {
        font-size: $ah3;
        line-height: 1.5;
        letter-spacing: -0.52px;
        font-variation-settings: "opsz" 32;
        font-weight: bold;
        margin-top: 6px;
    
        border-bottom: 1px solid $subtleborder;
    }
    h4 {
        font-size: $ah4;
        font-variation-settings: "opsz" 14;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: -0.52px;
        margin-top: 6px;
    
    }
    h5 {
        font-size: $ah5;
        line-height: 1.5;
        letter-spacing: -0.52px;
        font-variation-settings: "opsz" 32;
        font-weight: bold;
        color: $fglcolor2;

        margin-top: 6px;
    
    
    }
    h6 {
        font-size: $ah6;
        font-variation-settings: "opsz" 14;
        font-weight: 340;
        line-height: 1.5;
        letter-spacing: -0.52px;
        font-weight: bold;

        text-transform: lowercase;
        margin-top: 6px;
    }

    ul {
        margin: 16px 0;
        padding-inline-start: 40px;
        list-style: unset;

        li {
            margin: 24px 0;
        }
    }

    ol {
        margin: 16px 0;
        padding-inline-start: 40px;
        list-style: decimal;

        li {
            margin: 24px 0;
        }

        ol {
            list-style: lower-roman;
            margin: 16px 0;
            padding-inline-start: 40px;
            list-style: lower-roman;
        }
    }

    blockquote {
        font-family: monospace;
        font-style: italic;
        
        border: thin solid $fglcolor1;
        
        padding: 1rem;
        margin: 2rem;
        
    }

    hr {
        border: 0;
        text-align: center;
        margin: 2rem 0;
        font-family: monospace;

        font-size: 14px;
    }

    hr::before {
        content: '///// * ';
    }
    hr::after {
        content: attr(data-content) " * /////";
    }

    table {
        width: 100%;
        font-family: $primary-font;
    }

    th {
        font-weight: 613;
    }

    table, th, td {
        border: thin solid black;
        border-collapse: collapse;
        padding: 0.4rem;

        font-size: .875rem;
    }
    
    sub, sup {
        /* Specified in % so that the sup/sup is the
           right size relative to the surrounding text */
        font-size: 75%;
      
        /* Zero out the line-height so that it doesn't
           interfere with the positioning that follows */
        line-height: 0;
      
        /* Where the magic happens: makes all browsers position
           the sup/sup properly, relative to the surrounding text */
        position: relative;
      
        /* Note that if you're using Eric Meyer's reset.css, this
           is already set and you can remove this rule */
        vertical-align: baseline;


        a::before {
            content: '['
        }
        a::after {
            content: ']'
        }
      }
      
      sup {
        /* Move the superscripted text up */
        top: -0.5em;
      }
      
      sub {
        /* Move the subscripted text down, but only
           half as far down as the superscript moved up */
        bottom: -0.25em;
      }
      .cimg {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
      .rimg {
        border: 1px solid $subtleborder;
        background-color: $lightmode-bg;
        color: $fglcolor1;
        margin: 0 0 2em 2.5em;
        padding: 0.2em;
        float: right;
        clear: right;
        max-width: 15em;
        min-width: 10em;
      }
}

#banner-wrapper {
    margin: 32px 0 0 0;
    img {
        max-width: 760px;
        display: block;
        margin: 0 auto;
        max-height: 500px;
    }
}

[role=doc-endnotes] {
    font-family: monospace;
}

#table-of-contents {
    background-color: $bglcolor3; 
    
    font-family: $primary-font;
    font-size: 0.875rem;

    border: 1px solid rgba(0, 0, 0, 0.25);
    display: table;
    padding: 16px;

    position: fixed;
    top: 100px;
    left: 30px;

    #toc {
        margin-top: 14px;
    }

    h5 {
        font-size: 1rem;
        border-bottom: 1px solid $subtleborder;
    }

    ul {
        margin: 0;
        padding-inline-start: 12px;
        list-style: none;

        a {color:$fglcolor1;}
        a:visited {color:$fglcolor1;}
        a: {color:$fglcolor1;}

        li {
            margin: 6px 0;
        }

    }
}
