

$wine: #4C0B0D;
$snow: #F7F7F7;
$parchment: #F6F4EE;

$shadow-text: rgb(128, 128, 128);

$link-new: #680ba8;
$link-none: red;

$serif: "Times New Roman", serif;
$sans-serif: sans-serif;


$home-p-size: 16px;


$p-size: 16px;

$p-h1: 26px;
$p-h1-w: 700;



$p-h2: 20px;
$p-h2-w: 700;


$p-h3: 18px;
$p-h3-w: 400;


$infobox-border: 1px solid #a2a9b1;
$infobox-bg: #f8f9fa;