@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(reset.css);

body {
    background-color: rgba(44, 44, 44, 1);
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#map {
    width: 100%;
}

.main-wrapper {
    display: flex;
}

.side-navbar {
    min-width: 240px;
    min-height: 100vh;
    background-color: rgba(44, 44, 44, 1);
    border-right: 1px solid rgba(255, 255, 255, 0.55);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#header {
    padding: 20px 20px 25px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#header a img {
    width: 6em;
}

.nav-panel {
    letter-spacing: -2%;
    padding: 20px 25px;
    color: rgba(255,255,255,1);
}

.nav-panel a {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

#nav-panel-ul #ul-header {
    font-weight: 600;
    font-size: 14px;
}

#nav-inner-ul {
    padding: 10px;
}

#nav-list-header a{
    font-weight: 400;
    font-size: 12px;

    color: rgba(255,255,255,0.55);

    transition: color .5s;
}
#nav-list-header a:hover {
    color: rgba(255,255,255,1);
}

#nav-inner-ul-last {
    padding: 10px;
}

#nav-list-li a {
    color: rgba(255,255,255,1); 
    transition: color .5s;
}

#nav-list-li a:hover {
    color: rgba(124, 196, 248,1);
}

#nav-list-li {
    padding: 4px 10px;
    margin: 4px 0;
    font-size: 11px;
    background-color: rgba(255,255,255,0);
    
    border-radius: 4px;

    transition: background-color .5s;
}

#nav-list-li:hover {
    background-color: rgba(83, 99, 131,1);
}