@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(reset.css);

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: unset;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    background-color: rgba(44, 44, 44, 1);
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-s-wrapper {
    background-color: rgb(250, 247, 239);
    border: 1px solid black;
    width: 100%;
}

.wrapper-marginer {
    width: 876px;
    margin: 0 auto;
    padding: 0 50px;
}

.topbar-wrapper {
    padding: 25px 30px;

    display: flex;
    justify-content: space-between;
}

.header-links-wrapper a {
    color: #214DA9;
    margin: 0 3px;
    
    letter-spacing: -2%;
    font-weight: 700;
    font-size: 11px;
    text-decoration: none;
}

.header-links-wrapper #about-button {
    font-weight: 600;
    padding: 8px;
    margin: 0 12px;
    border: 1px solid #214DA9;
    border-radius: 24px;
    background-color: rgba(33, 77, 169,0);
    transition: background-color .3s;
}

.header-links-wrapper #about-button:hover {
    background-color: rgba(33, 77, 169,.45);
}

.topbar-header-wrapper a img {
    width: 6em;
}

.main-textbody {
    min-height: 1080px;
}

.footer-wrapper {
    margin: 150px 50px 25px 50px;
}

#footer-shield {
    background-color: #214DA9;
    border-radius: 28px;
    padding: 0 40px;
    min-height: 125px;
}

#footer-shield #footer-text {
    padding:50px 30px;
    font-size: 11px;
    color: rgb(250, 247, 239);
}










#map {
    width: 100%;
}

.main-wrapper {
    display: flex;
}

.side-navbar {
    min-width: 240px;
    min-height: 100vh;
    background-color: rgb(250, 247, 239);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#header {
    padding: 20px 20px 25px 20px;
}

#header a img {
    width: 6em;
}

.nav-panel {
    letter-spacing: -2%;
    padding: 20px 25px;
    color: rgb(33, 77, 169);

}

.nav-panel a {
    color: rgb(33, 77, 169);
    text-decoration: none;
}

#nav-panel-ul #ul-header {
    font-weight: 600;
    font-size: 14px;
}

#nav-inner-ul {
    padding: 10px;
}

#nav-list-header a{
    font-weight: 400;
    font-size: 12px;

    color: rgb(33, 77, 169);
}