<!DOCTYPE html>
<html lang="{{ site.lang | default: "tr-TR" }}">
  {% include header.html %}
  <body>
    <main class="main-wrapper">
        {% include topbar.html %}
        <div class="focus-area">
            <article class="article-body">
              <div id="category-text">
                
                <div class="table-container">

                  <div class="l-grid">

                    <div class="featured-article-table">
                      <table><thead>
                        <tr>
                          <th>Öne çıkan makale</th>
                        </tr></thead>
                      <tbody>
                        <tr>
                          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus dignissim sapien, eu consectetur quam bibendum rhoncus. Nullam sodales nibh quis mauris maximus, eu pellentesque nibh condimentum. Morbi hendrerit justo nec turpis dignissim, et aliquet nisi dignissim. Maecenas vehicula tortor enim, vel pellentesque orci tempor ut. Praesent bibendum ullamcorper lacus ut hendrerit. Curabitur non erat at felis varius aliquet. Proin eu orci velit. Proin ornare elit at elit consequat rhoncus. Quisque egestas tempus hendrerit. Vestibulum vel vulputate dolor. Ut tristique lacus velit, ut vestibulum massa fringilla eu. Curabitur hendrerit dui eget rhoncus eleifend. Praesent eget neque blandit, scelerisque ipsum vitae, ornare nibh. In a nisi non nisl efficitur facilisis. Maecenas consequat magna non enim euismod, vel sollicitudin leo malesuada. Fusce eget placerat mi, non facilisis odio. </td>
                        </tr>
                      </tbody>
                      </table>
                    </div>

                    <div class="current-era-table">
                      <table><thead>
                        <tr>
                          <th>Güncel çağ</th>
                        </tr></thead>
                      <tbody>
                        <tr>
                          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus dignissim sapien, eu consectetur quam bibendum rhoncus. Nullam sodales nibh quis mauris maximus, eu pellentesque nibh condimentum. Morbi hendrerit justo nec turpis dignissim, et aliquet nisi dignissim. Maecenas vehicula tortor enim, vel pellentesque orci tempor ut. Praesent bibendum ullamcorper lacus ut hendrerit. Curabitur non erat at felis varius aliquet. Proin eu orci velit. Proin ornare elit at elit consequat rhoncus. Quisque egestas tempus hendrerit. Vestibulum vel vulputate dolor. Ut tristique lacus velit, ut vestibulum massa fringilla eu. Curabitur hendrerit dui eget rhoncus eleifend. Praesent eget neque blandit, scelerisque ipsum vitae, ornare nibh. In a nisi non nisl efficitur facilisis. Maecenas consequat magna non enim euismod, vel sollicitudin leo malesuada. Fusce eget placerat mi, non facilisis odio. </td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
  
                    <div class="calendar-table">
                      <table><thead>
                        <tr>
                          <th>Takvim</th>
                        </tr></thead>
                      <tbody>
                        <tr>
                          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus dignissim sapien, eu consectetur quam bibendum rhoncus. Nullam sodales nibh quis mauris maximus, eu pellentesque nibh condimentum. Morbi hendrerit justo nec turpis dignissim, et aliquet nisi dignissim. Maecenas vehicula tortor enim, vel pellentesque orci tempor ut. Praesent bibendum ullamcorper lacus ut hendrerit. Curabitur non erat at felis varius aliquet. Proin eu orci velit. Proin ornare elit at elit consequat rhoncus. Quisque egestas tempus hendrerit. Vestibulum vel vulputate dolor. Ut tristique lacus velit, ut vestibulum massa fringilla eu. Curabitur hendrerit dui eget rhoncus eleifend. Praesent eget neque blandit, scelerisque ipsum vitae, ornare nibh. In a nisi non nisl efficitur facilisis. Maecenas consequat magna non enim euismod, vel sollicitudin leo malesuada. Fusce eget placerat mi, non facilisis odio. </td>
                        </tr>
                      </tbody>
                      </table>
                    </div>

                    <div class="contents-table">
                      <table><thead>
                        <tr>
                          <th>Diyar-ı ilim</th>
                        </tr></thead>
                      <tbody>
                        <tr>
                          <td>
                            <ul>
                              <li><b><a href="/onemli-kisiler">Önemli kişiler</a></b>—Monvald'da yaşamış ve yaşayan tüm önemli isimler.</li>
                              <li><b><a href="/buyuler">Büyüler</a></b>—Büyü ve diğer tüm uhreviyatın temeli.</li>
                              <li><b><a href="/canlilar">Canlılar</a></b>—Yürüyen, tırmanan, sürünen, yüzen ve genellikle ısıran her şey.</li>
                              <li><b><a href="/cografya">Coğrafya</a></b>—Dağlar, tepeler, denizler, ormanlar ve Monvald'ın tüm şehirleri.</li>
                              <li><b><a href="/diller">Diller</a></b>—Monvald'da konuşulan tüm diller.</li>
                              <li><b><a href="/inanclar">İnançlar</a></b>—Evrendeki tüm inanç sistemleri ve tanrılar.</li>
                              <li><b><a href="/kavramlar-ve-terimler">Kavramlar ve terimler</a></b>—Bazen yeni terimlerin ve ekstra kavramların ne olduğunu öğrenmek gerekebilir.</li>
                              <li><b><a href="/kronoloji">Kronoloji</a></b>—Evrenin başlangıcından şimdiye kadar süren tüm hikayeler ve bilgiler.</li>
                              <li><b><a href="/kozmoloji">Kozmoloji</a></b>—Evrenin yapısına dair her şey.</li>
                              <li><b><a href="/nesneler">Nesneler</a></b>—Büyülü eşyalar, taçlar, madeni eşyalar ve diğer her şey.</li>
                              <li><b><a href="/organizasyonlar">Organizasyonlar</a></b>—Krallıklar, ülkeler, loncalar ve hırsızların çirkin bağlantıları.</li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                      </table>
                    </div>

                  </div>

                  <div class="r-grid">
                    
                    <div class="about-game-table">
                      <table><thead>
                        <tr>
                          <th>Oyun hakkında</th>
                        </tr></thead>
                      <tbody>
                        <tr>
                          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus dignissim sapien, eu consectetur quam bibendum rhoncus. Nullam sodales nibh quis mauris maximus, eu pellentesque nibh condimentum. Morbi hendrerit justo nec turpis dignissim, et aliquet nisi dignissim. Maecenas vehicula tortor enim, vel pellentesque orci tempor ut. Praesent bibendum ullamcorper lacus ut hendrerit. Curabitur non erat at felis varius aliquet. Proin eu orci velit. Proin ornare elit at elit consequat rhoncus. Quisque egestas tempus hendrerit. Vestibulum vel vulputate dolor. Ut tristique lacus velit, ut vestibulum massa fringilla eu. Curabitur hendrerit dui eget rhoncus eleifend. Praesent eget neque blandit, scelerisque ipsum vitae, ornare nibh. In a nisi non nisl efficitur facilisis. Maecenas consequat magna non enim euismod, vel sollicitudin leo malesuada. Fusce eget placerat mi, non facilisis odio. </td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
  
                    <div class="help-table">
                      <table><thead>
                        <tr>
                          <th>Yardım eli</th>
                        </tr></thead>
                      <tbody>
                        <tr>
                          <td>
                            <p>Hoşgeldiniz, sefalar getirdiniz! Yazım hatası mı gördün? Belki aklında bir takım fikirler var ve onları dökmek istiyorsun. Belki de okuduğun şey için "Ben bunu daha güzel bir şekilde anlatabilirim" dedin, ya da sadece ilgilenmek istiyorsun. Utanıp sıkılmana gerek yok, sadece Değiştir butonuna basıp bir şeyler yazman yeterli. Önemli olan sağdaki Başlamadan önce kısmında bulunan yazılara bir göz gezdirmen.</p>
                            <p>Eğer viki fikrine yeniysen eğitim tablolarına göz atmayı unutma, hepsine okumak zorunda değilsin başlamak için, fakat yolculuğunun ilginç olacağından kesinlikle eminim. Ortakdiyar'ı biraz araştır, nasıl yazdığımıza ve en önemlisi <a href="/policeler/">işleri burada nasıl yürüttüğümüze bir bak</a>. En son düzenlenen makaleleri incele.</p>
                            <p>Yanlış yapmaktan kaçınma, deneyimli editörler gelip düzelteceklerdir. Veya sen bir yanlış yakalarsan düzeltmekten çekinme.</p>
                            <p>Kâtipliğe hoşgeldin!</p>
                            <p><b>Yapabileceklerin</b>:</p>
                            <ul>
                              <li>Var olan makalelere yaratıcılığınla bilgiler ekle.</li>
                              <li>Yeni makaleler oluştur.</li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                      </table>
                    </div>
                    
                  </div>

                </div>

              </div>
            </article>
        </div>
    </main>
    {% include footer.html %}
  </body>
</html>
